
body {
    border: 2px solid red;
    height: 100%;
    width: 50%;

}
aside {
    margin: 25px;
    border: 3px solid red;
    display: grid;
    place-items: center;
    height: 80px;
    width: 200px;
    background-color:#131313;
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding-bottom: 10px;
    
    

    
}

h5 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 25px;
    place-items: center;
    position: relative;
    color: transparent;
}

h5::before, h5::after {
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 0;
    transition: transform 0.3s;
    transition-delay: 0.25s;
    color: #fff;

}

h5::before{
    
    clip-path: polygon(0 0,100% 0,100% 50%,0 50%);
}

h5::after {
    
    clip-path: polygon(0 49.6%, 100% 49.6%, 100% 100%, 0 100%);

}

h5:hover ::before {
    transform: translateX(-10%);
}

h5:hover::after{
    transform: translateX(7%);
}

h5 .line {
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: width 0.2s ease-in;
}

h5:hover .line{
    width: 100%;
}
